<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="aboutCon">
    <div>
      Located in Bedford, Virginia, the community suffering the highest per capita D-Day losses in the nation, the National D-Day Memorial 
      honors all Allied forces that participated in the invasion of Normandy on 6 June 1944 during WWII. With its stylized English Garden, 
      haunting beach tableau, and striking Victory Plaza, the Memorial stands as a powerful permanent tribute to the valor, fidelity, and sacrifice of D-Day participants.
    </div>
      
    <div>
      Visiting the Memorial is an educational as well as an emotional experience. As the largest amphibious landing in history, D-Day required unprecedented levels of men and material. 
      More than 5,000 ships and 11,000 aircraft supported the landing of 150,000 Allied troops along a 50 - mile stretch of beach in Nazi-held Normandy, France. Weather, 
      combined with strong Nazi resistance, made the invasion’s outcome anything but certain. Yet by day’s end, the Allies had gained a foot- hold in occupied Europe. The human cost, 
      however, was also unprecedented; more than 9,000 Allied soldiers were killed or wounded on D-Day alone.
    </div>
  </div>
</ion-content>

