<ion-header>
  <ion-toolbar>
    <ion-title>General Information</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal ion-padding">
    
  <div class="con">
    <img src="./assets/imgs/welcome/overlord.png">
  
    <div>
        The National D-Day Memorial Foundation is a nonprofit educational foundation, operating under the provisions of Section 501(c)(3) 
        of the Internal Revenue Code and warranted by Congress to establish, in Bedford, Virginia, and maintain for the nation, a memorial 
        to the valor, fidelity, and sacrifice of the Allied forces that took part in the landing at Normandy, France on 6 June 1944.
    </div>
  </div>
</ion-content>
