<ion-header>
  <ion-toolbar>
    <ion-title>While At The Memorial</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal" class="ion-padding">
  <div class="con">
    <img src="./assets/imgs/memorial.jpg">
    <div>
        This national memorial stands upon earth consecrated in solemn tribute to the Allied Forces who participated in D-Day, 6 June 1944.
        The Memorial site is a sacred precinct and visitors are expected to conduct themselves accordingly.
    </div>
    <div>
        Running, climbing, and yelling are inappropriate. Please supervise children.
    </div>
    <div>
        Do not play, throw things, or enter the water.
    </div>
    <div>
        Picnicking is permitted in designated areas only. Please refrain from eating within the monument’s perimeter. Alcoholic beverages are prohibited.
    </div>
    <div>
        Vaping and the use of tobacco products is prohibited, except in the designated smoking area. Dispose of trash and tobacco products in the designated containers located outside the monument’s perimeter.
    </div>
    <div>
        Pets are not permitted with the exception of service animals. If traveling with pets, please inquire about our free kennel service.
    </div>
    <div>
        Firearms are prohibited. Drone aircraft are prohibited.
    </div>
  </div>
</ion-content>
