page-bedford-boys-modal {
    .toolbar-title {
        white-space: normal;
    }

    .card {
        border-radius: 5px;
    }

    .card-title {
        padding: 10px 15px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.5;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .card .con > div {
        margin-bottom: 10px;
        font-size: 1.7rem;
        line-height: 1.5;
        font-weight: 500;
    }

    .card .con {
        padding: 20px;
    }

    .card-content {
        padding: 0px;
    }
}
