<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Brick Finder</ion-title>
  </ion-navbar>

  <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (search)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>

        <div ion-fixed class="fixed-header" #fixedContentContainer>
            <ion-row id="brickHeader" align-items-center>
                <ion-col col-6>
                    Name
                </ion-col>
                <ion-col col-6>
                    Section
                </ion-col>
            </ion-row>
        </div>

    <ion-grid *ngIf="filterData && filterData.length > 0">
        <ion-row class="outerRow">
            <ion-col class="outerCol">
                <ion-row *ngFor="let item of filterData | orderNames" (click)="soldierClicked(item)">
                    <ion-col col-6>
                        {{ item.name }}
                    </ion-col>
        
                    <ion-col col-6>
                        {{ item.section }}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        
    </ion-grid>

</ion-content>
